<launch>

  <!-- Load the URDF/SRDF into the ROS Parameter Server -->
    <!-- visualization config -->
  <arg name="rviz"               default="false" />

  <!-- external launch file  -->
  <!-- <include file="$(find centauro_gazebo)/launch/centauro_world.launch"/> -->
  <!-- <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/> -->

  <!-- parameter load  -->
  <param name="robot_description" textfile="$(find centauro_urdf)/urdf/centauro.urdf"/>
  <param name="robot_description_semantic" textfile="$(find centauro_srdf)/srdf/centauro.srdf"/>
  
  <!-- rviz -->
  <group if="$(arg rviz)">
    <!-- <arg name="rvizconfig" default="/home/wang/forest_ws/src/cartesian_search_wheel/rviz/rviz.rviz" /> -->
    <arg name="rvizconfig" default="$(find centauro_long_task)/rviz/rviz.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
  </group>



  <!-- <param name="problem_description"
          textfile="$(find centauro_long_task)/config/cartesio_stack_wheel.yaml"/>  -->
  <!-- <param name="problem_description"
          textfile="$(find centauro_long_task)/config/cartesio_stack_leg.yaml"/>  -->
  <param name="problem_description"
          textfile="$(find centauro_long_task)/config/cartesio_stack_leg_lower.yaml"/> 

    <!--Test node-->
  <!-- <node pkg="centauro_long_task" name="centauro_wheel" type="centauro_wheel_node" output="screen"/> -->
  <!-- <node pkg="centauro_long_task" name="centauro_turnaround" type="centauro_turnaround_node" output="screen"/> -->
  <!-- <node pkg="centauro_long_task" name="centauro_search" type="centauro_search_node" output="screen"/> -->
  <!-- <node pkg="centauro_long_task" type="centauro_opendrawer.py" name="centauro_opendrawer" output="screen"/> -->
  <node pkg="centauro_long_task" type="centauro_opendoor.py" name="centauro_opendoor" output="screen"/>
  <!-- <node pkg="centauro_long_task" name="centauro_leg" type="centauro_leg_node" output="screen"/> -->


  <!-- <node pkg="centauro_long_task" name="centauro_lower" type="centauro_lower_node" output="screen" 
  launch-prefix="gnome-terminal  gdb -e run"/> -->
  <!-- <node pkg="centauro_long_task" name="centauro_lower" type="centauro_lower_node" output="screen"/> -->


  <!-- <node pkg="centauro_long_task" name="centauro_home" type="centauro_home_node" output="screen"/> -->


</launch>

