<launch>

  <!-- Load the URDF/SRDF into the ROS Parameter Server -->
    <!-- visualization config -->
  <arg name="rviz"               default="false" />

  <!-- external launch file  -->
  <include file="$(find centauro_gazebo)/launch/centauro_world.launch"/>

  <!-- parameter load  -->
  <param name="robot_description" textfile="$(find centauro_urdf)/urdf/centauro.urdf"/>
  <param name="robot_description_semantic" textfile="$(find centauro_srdf)/srdf/centauro.srdf"/>
  
  <!-- rviz -->
  <group if="$(arg rviz)">
    <arg name="rvizconfig" default="/home/wang/forest_ws/src/cartesian_search_wheel/rviz/rviz.rviz" />
    <!-- <arg name="rvizconfig" default="$(find cartesian_search_wheel)/rviz/rviz.rviz" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
  </group>



  <param name="problem_description"
          textfile="$(find centauro_long_task)/config/cartesio_stack.yaml"/> 


  <node pkg="centauro_long_task" name="centauro_wheel" type="centauro_wheel_node" output="screen"/>


</launch>

